/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    Font-weight: 300;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}  

h1,
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} 

h1,
h2,
h3 {
    line-height: 1.1;
}

p {
    line-break: auto;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 1px 3px rgba(0,0,0, .5);
}

footer {
    font-weight: 600;
}

/* Footer start */

footer {
    display: flex;
    background-color: azure;
    border-top: lightgray .5px solid;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
/* Footer end */

/* ================================= 
  Class Element Styles
==================================== */

/* header start */
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-bottom: lightgray .5px solid;
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu li {
    padding: 10px 5px;
}
/* header end */

.sub-heading {
    margin: 60px 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto; 
}

/* About */
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 100%;
}

.contact-info a {
    font-weight: 600;
}

/* Images */

.image {
    max-width: 100%;
    height: auto;
}

.profile-image {
    max-width: 80%;
    height: auto;
}

/* Images end */

/* footer start */
.footer-name {
    margin-right: auto;
}

.contact-section {
    margin-top: 100px;
}

.contact-info {
    line-height: 2.5rem;
    margin-bottom: 60px;
}

/* ================================= 
  ID Element Styles
==================================== */

/* ================================= 
  Media Queries
==================================== */
 
@media (max-width: 767px) {
    .footer-nav {
        display: none;
    }
 }

@media (min-width: 768px) {

    .main-header {
        flex-direction: column;
        justify-content: center;
    }
    
    .nav-menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* About */
    .about-me {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .about-me-2 {
        order: -1;
        align-self: flex-start;
        flex-grow: 1.5;
    }

    .profile-image {
        max-width: 40%;
        height: auto;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;    
    }
    .flex-item {
        flex-basis: 40%;
        margin: 0 5px 30px 5px;
    }

    .contact-section {
        margin: 50px auto 0 auto;
        width: 540px;
    }

    .contact-p {
        margin: 40px 0;
    }

    .footer-back-to-top {
        display: none;
    }

    footer {
        padding-bottom: 50px;
    }

}

@media (min-width: 1024px) {

    .main-header {
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .nav-menu {
        flex-direction: row;
    }
    .name {
        margin-right: auto;
    }

    .flex-item {
        flex-basis: 25%;
        margin: 0 10px 30px 10px;
    }

    footer {
        padding-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }

}